#Cardinals{
    
    display: inline-block;
    background-image: url("../images/Teams/Cardinals.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Falcons{

    display: inline-block;
    background-image: url("../images/Teams/Falcons.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}#Panthers{

    display: inline-block;
    background-image: url("../images/Teams/Panthers.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}#Bears{

    display: inline-block;
    background-image: url("../images/Teams/Bears.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Cowboys{
   
    display: inline-block;
    background-image: url("../images/Teams/Cowboys.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Lions{
    
    display: inline-block;
    background-image: url("../images/Teams/Lions.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Packers{

    display: inline-block;
    background-image: url("../images/Teams/Packers.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Rams{

    display: inline-block;
    background-image: url("../images/Teams/Rams.png");
    background-size: 100px 100px;
    width:100px; 
    height:100px;
}
#Vikings{
    
    display: inline-block;
    background-image: url("../images/Teams/Vikings.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Saints{

    display: inline-block;
    background-image: url("../images/Teams/Saints.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}#Giants{

    display: inline-block;
    background-image: url("../images/Teams/Giants.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}#Eagles{

    display: inline-block;
    background-image: url("../images/Teams/Eagles.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#SF49Ers{
   
    display: inline-block;
    background-image: url("../images/Teams/SF49Ers.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Seahawks{

    display: inline-block;
    background-image: url("../images/Teams/Seahawks.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Buccaneers{

    display: inline-block;
    background-image: url("../images/Teams/Buccaneers.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Commanders{

    display: inline-block;
    background-image: url("../images/Teams/Commanders.png");
    background-size: 100px 100px;
    width:100px; 
    height:100px;
}
#Ravens{
    
    display: inline-block;
    background-image: url("../images/Teams/Ravens.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Bills{

    display: inline-block;
    background-image: url("../images/Teams/Bills.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;

}#Bengals{

    display: inline-block;
    background-image: url("../images/Teams/Bengals.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}#Browns{

    display: inline-block;
    background-image: url("../images/Teams/Browns.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Broncos{
    
    display: inline-block;
    background-image: url("../images/Teams/Broncos.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Texans{

    display: inline-block;
    background-image: url("../images/Teams/Texans.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Colts{

    display: inline-block;
    background-image: url("../images/Teams/Colts.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Jaguars{

    display: inline-block;
    background-image: url("../images/Teams/Jaguars.png");
    background-size: 100px 100px;
    width:100px; 
    height:100px;
}
#Chiefs{
    
   display: inline-block;
    background-image: url("../images/Teams/Chiefs.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Raiders{
    
    display: inline-block;
    background-image: url("../images/Teams/Raiders.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}#Chargers{

    display: inline-block;
    background-image: url("../images/Teams/Chargers.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}#Dolphins{

    display: inline-block;
    background-image: url("../images/Teams/Dolphins.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Patriots{
   
    display: inline-block;
    background-image: url("../images/Teams/Patriots.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Jets{

    display: inline-block;
    background-image: url("../images/Teams/Jets.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Steelers{
    display: inline-block;
    background-image: url("../images/Teams/Steelers.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Titans{
    display: inline-block; 
    background-image: url("../images/Teams/Titans.png");
    background-size: 100px 100px;
    width:100px; 
    height:100px;
}
