*:focus {
    outline: none;
}

body{
    margin: 0 auto;
    background-image: url(../images/fondo.jfif);
    background-repeat:no-repeat;background-size: 100% 100%;background-attachment:fixed;background-blend-mode: lighten;background-color: rgba(163, 163, 159, 0.8);
}
/*Cabecera del formulario*/
.cabecera{
    min-height: 150px;
    padding-top: 0;
}
.cabecera h1{
    
    margin: auto 0;
    padding-right: 0px;
    padding-top: 2%;
    text-align: center;
    margin-right:5%;
    
    
    text-align: center;
}
.cabecera h1 span{
    
    background-color: rgba(6,57,112,0.9);
    padding-top: 30px;
    padding: 15px;
    text-align: center;
    margin:0 auto;
    
    
    text-align: center;
}
.cabecera p{
    padding-right: 0;
    padding-top: 15px;
    text-align: center;
    margin:0 auto;
    
    margin-top: 25px;
    text-align: center;
}
.cabecera p span{
    background-color: rgba(6,57,112,0.2);

    
}
#iconoizquierda{
    
    float:left;
    margin-top: -15px;
    margin: 0 auto;
    
    width:350px; 
    height:100px;
   
}
/*Principal y contenido formulario*/
#principal{
    padding:30px 0px;
    background-color: rgba(250, 255, 254, 0.8);
    border: 2px solid black;
    width: 650px;
    margin:0px auto;
    height: 560px;
}
#formulario{
    height:600px;
    overflow: hidden;
    display: block;
    margin:auto;
    text-align: center;
    
    
    position:relative;
    width: 80%;
    
    
}
#bloque{
    position: relative;
}
#formulario label{
    font-weight: bold;
    font-size: 20px;
}
#formulario input{
    text-align: center;
    width: 100%;
	background: #fff;
    border: 1px solid grey;
    border-radius: 4px;
}
#form1 span{
    position: absolute;
	

	
}
#form2 span{
    position: absolute;
	

	
}

#parrafo{
    min-height: 30px;
text-align: center;
}
#form1{
    display:block;
}
#form2{
    
    display:none;
}
#form3{
    
    display:none;
}
/*Footer y su contenido*/
#pelotabotando{
    display: block;
    position: relative;
    margin-left: 30px;
}
#contenedorPelota{
    width: 150px;
    display: block;
    position: relative;
    margin-left: 30px;
}
footer{
    
    overflow: hidden;
}