body{
    margin: 0 auto;
    background-image: url(../images/fondo.jfif) ;
    background-repeat:no-repeat;background-size: 100% 100%;background-attachment:fixed;
}
.cabecera{
    min-height: 150px;
    padding-top: 0;
}
h1{
    margin: auto 0;
    padding-right: 0px;
    padding-top: 15px;
    text-align: center;
    margin-right:10%;
    
    
    text-align: center;
}
h1 span{
    padding-top: 30px;
    padding: 15px;
    text-align: center;
    margin:0 auto;
    
    background-color: #013368;
    text-align: center;
}
.cabecera p{
    padding-right: 300px;
    padding-top: 15px;
    text-align: center;
    margin:0 auto;
    
    margin-top: 25px;
    text-align: center;
}
.cabecera p span{
    background-color: #013368;
    
}

#formulario{
    display: block;
    margin:auto;
    text-align: center;
    font-size: 20px;
    
    position:relative;
    width: 1300px;
    height: 500px;
    
}
#iconoizquierda{
    
    float:left;
    margin-top: -15px;
    margin: 0 auto;
    
    width:350px; 
    height:100px;
   
}
#bigboss{

    position:absolute;
    
    margin-top: 380px;
    margin-left: -130px;
    
   
    background: url("../images/vaca.png");
    background-size: 150px 100px; 
    width:150px; 
    height:100px;
  

}
#oficina{

    position:absolute;
    
    margin-left: 1150px;
    margin-top: 310px;
   
    background: url("../images/oficina.png");
    background-size: 150px 150px; 
    width:150px; 
    height:150px;
  
    

}