*:focus {
    outline: none;
}

body{
    margin: 0 auto;
    background-image: url(../images/fondo.jfif);
    background-repeat:no-repeat;background-size: 100% 100%;background-attachment:fixed;background-blend-mode: lighten;background-color: rgba(163, 163, 159, 0.8);
}

.cabecera{
    min-height: 150px;
    padding-top: 0;
}
.cabecera h1{
    
    margin: auto 0;
    padding-right: 0px;
    padding-top: 2%;
    text-align: center;
    margin-right:5%;
    
    
    text-align: center;
}
.cabecera h1 span{
    
    background-color: rgba(6,57,112,0.9);
    padding-top: 30px;
    padding: 15px;
    text-align: center;
    margin:0 auto;
    
    
    text-align: center;
}
.cabecera p{
    padding-right: 0;
    padding-top: 15px;
    text-align: center;
    margin:0 auto;
    
    margin-top: 25px;
    text-align: center;
}
.cabecera p span{
    background-color: rgba(6,57,112,0.9);

    
}
#principal{
    padding:30px 0px;
    background-color: rgba(250, 255, 254, 0.8);
    border: 2px solid black;
    width: 650px;
    margin:0px auto;
    height: 560px;
}
#formulario{
    height:600px;
    overflow: hidden;
    display: block;
    margin:auto;
    text-align: center;
    
    
    position:relative;
    width: 80%;
    
    
}
#bloque{
    position: relative;
}
#formulario label{
    font-weight: bold;
    font-size: 20px;
}
#formulario input{
    text-align: center;
    width: 100%;
	background: #fff;
    border: 1px solid grey;
    border-radius: 4px;
}
#form1 span{
    position: absolute;
	

	
}
#form2 span{
    position: absolute;
	

	
}
#opciones{
    margin:30px 0px;
}
#parrafo{
text-align: center;
}
#form1{
    display:none;
}
#form2{
    
    display:none;
}
#form3{
    
    display:none;
}

#form4{
    
    display:block;
    
}
#form5{
    
    display:none;
    
}
#form4 ul li{
    float:left;
    width: 100px;
    height:100px;
    background-color: rgb(64, 150, 121);
    list-style:none;
    border: 1px solid grey;
    border-radius: 15px;
    margin: 5px;
}
#form5 ul li{
    float:left;
    width: 100px;
    height:100px;
    background-color: rgb(64, 150, 121);
    list-style:none;
    border: 1px solid grey;
    border-radius: 15px;
    margin: 5px;
}
ul li h3{
    margin-block-start: 0;
    margin-block-end: 0;
}
ul li #textoarriba span{
    background-color: rgba(250, 255, 254, 0.8);
    line-height: 0px;
    font-size: 17px;
    -webkit-text-stroke: 0.2px white;
    color: black;
    border-radius: 2px; 
}
ul li #textoabajo span{
    background-color: rgba(250, 255, 254, 0.8);
    line-height: 130px;
    font-size: 17px;
    -webkit-text-stroke: 0.2px white;
    color: black; 
    border-radius: 2px;
}
#tituloEquipo{
    height: 100px;
}
#tituloCarrito{
    padding: 20px 20px;
    background-color: grey;
}
/*#form5 ul li{
    float:left;
    width: 100px;
    height:100px;
    background-color: rgb(64, 150, 121);
    list-style:none;
    border: 1px solid grey;
    border-radius: 15px;
    margin: 5px;
}
#form5 ul li h3 {
    background-color: rgba(250, 255, 254, 0.8);
    margin-top: 10px;
    font-size: 17px;
    -webkit-text-stroke: 0.2px white;
    color: black; 
}*/
#opciones ul li{
    line-height: 30px;
    float:left;
    width: 200px;
    height:30px;
    background-color: rgb(64, 150, 121);
    list-style:none;
    border: 1px solid grey;
    border-radius: 15px;
    margin: 5px;
    margin-bottom: 25px;
}
#equipos{
    margin-bottom: 30px;
}
#botonEnviar{
    margin: 50px 0px 50px 0px;
}
#iconoizquierda{
    
    float:left;
    margin-top: -15px;
    margin: 0 auto;
    
    width:350px; 
    height:100px;
   
}
#bigboss{

    position:absolute;
    
    margin-top: 380px;
    margin-left: -130px;
    
   
    background: url("../images/vaca.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
  

}
#oficina{

    position:absolute;
    
    margin-left: 1150px;
    margin-top: 310px;
   
    background: url("../images/oficina.png");
    background-size: 150px 150px; 
    width:150px; 
    height:150px;
  
    

}
#Cardinals{
    
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
   display: inline-block;
    background-image: url("../images/Teams/Cardinals.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Falcons{

    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    display: inline-block;
    background-image: url("../images/Teams/Falcons.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}#Panthers{
    display: inline-block;
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    background-image: url("../images/Teams/Panthers.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}#Bears{
    display: inline-block;
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    background-image: url("../images/Teams/Bears.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Cowboys{
    
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
   
    display: inline-block;
    background-image: url("../images/Teams/Cowboys.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Lions{

    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    display: inline-block;
    background-image: url("../images/Teams/Lions.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Packers{
    display: inline-block;
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    background-image: url("../images/Teams/Packers.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Rams{
    display: inline-block;
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    background-image: url("../images/Teams/Rams.png");
    background-size: 100px 100px;
    width:100px; 
    height:100px;
}
#Vikings{
    
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
   display: inline-block;
    background-image: url("../images/Teams/Vikings.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Saints{

    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    display: inline-block;
    background-image: url("../images/Teams/Saints.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}#Giants{
    display: inline-block;
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    background-image: url("../images/Teams/Giants.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}#Eagles{
    display: inline-block;
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    background-image: url("../images/Teams/Eagles.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#SF49Ers{
    
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
   
    display: inline-block;
    background-image: url("../images/Teams/49Ers.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Seahawks{

    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    display: inline-block;
    background-image: url("../images/Teams/Seahawks.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Buccaneers{
    display: inline-block;
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    background-image: url("../images/Teams/Buccaneers.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Commanders{
    display: inline-block;
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    background-image: url("../images/Teams/Commanders.png");
    background-size: 100px 100px;
    width:100px; 
    height:100px;
}
#Ravens{
    
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
   display: inline-block;
    background-image: url("../images/Teams/Ravens.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Bills{

    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    display: inline-block;
    background-image: url("../images/Teams/Bills.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}#Bengals{
    display: inline-block;
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    background-image: url("../images/Teams/Bengals.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}#Browns{
    display: inline-block;
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    background-image: url("../images/Teams/Browns.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Broncos{
    
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
   
    display: inline-block;
    background-image: url("../images/Teams/Broncos.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Texans{

    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    display: inline-block;
    background-image: url("../images/Teams/Texans.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Colts{
    display: inline-block;
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    background-image: url("../images/Teams/Colts.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Jaguars{
    display: inline-block;
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    background-image: url("../images/Teams/Jaguars.png");
    background-size: 100px 100px;
    width:100px; 
    height:100px;
}
#Chiefs{
    
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
   display: inline-block;
    background-image: url("../images/Teams/Chiefs.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Raiders{

    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    display: inline-block;
    background-image: url("../images/Teams/Raiders.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}#Chargers{
    display: inline-block;
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    background-image: url("../images/Teams/Chargers.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}#Dolphins{
    display: inline-block;
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    background-image: url("../images/Teams/Dolphins.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Patriots{
    
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
   
    display: inline-block;
    background-image: url("../images/Teams/Patriots.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Jets{

    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    display: inline-block;
    background-image: url("../images/Teams/Jets.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Steelers{
    display: inline-block;
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    background-image: url("../images/Teams/Steelers.png");
    background-size: 100px 100px; 
    width:100px; 
    height:100px;
}
#Titans{
    display: inline-block;
    /*
    margin-left: 1150px;
    margin-top: 310px;
   */
    background-image: url("../images/Teams/Titans.png");
    background-size: 100px 100px;
    width:100px; 
    height:100px;
}


#sidebar {
visibility: hidden; 
position: fixed;
width: 400px;
height: 100%;
background: #151719;
transition: all 500ms linear;
}
#sidebar #botonizq{
    float: right;
    margin-right: 100px;
}
#sidebarright {
visibility: hidden; 
position: fixed;
width: 400px;
height: 100%;
background: #151719;
left:79.5%;
transition: all 500ms linear;
    
}

#sidebar ul li {
   
  color: rgba(230, 230, 230, .9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
  text-align: center;
}
#sidebarright ul {
    padding-inline-start: 10;

  }
#sidebarright ul li {
    color: rgba(230, 230, 230, .9);
    list-style: decimal;
    padding-inline-start: 0px;
    padding: 15px 10px 20px 0px;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    text-align: center;
  }
  #carrito{
    height: 400px;
    display: block;
    overflow: auto;
  }
